///////////////////////////////////
// COLORS
//////////////////////////////////
// Whites
$color-white-1: #FFF5F9;
$color-white-2: #CCCCCC;
$color-white-3: #D6E1FF;
$color-white-4: #FFE3EE;
$color-white-5: #F7F7F7;
// Reds
$color-red-1: #FF0062;
$color-red-2: #A80041;
// Blues
$color-blue-1: #0044FF;
// Greys
$color-grey-1: #575757;

///////////////////////////////////
// BASE
//////////////////////////////////
* {
  box-sizing: border-box;
}


html {
  font-family: sans-serif;
}


body {
  margin: 0;
}


label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}


label {
  font-weight: bold;
}


input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid $color-white-2;
  
  &:focus {
	outline: none;
	background: $color-white-1;
  }
}


button {
  font: inherit;
  background: $color-red-1;
  border: 1px solid $color-red-1;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
  
  &:focus {
	outline: none;
  }
  
  &:hover,
  &:active {
	background: $color-red-2;
	border-color: $color-red-2;
  }
}

///////////////////////////////////
// MAIN
//////////////////////////////////
.projects {
  margin: 1rem;
  border: 1px solid $color-red-1;
  
  header {
	background: $color-red-1;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
  }
}


.projects {
  h2 {
	margin: 0;
	color: white;
  }
  
  ul {
	list-style: none;
	margin: 0;
	padding: 1rem;
  }
  
  li {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
	padding: 1rem;
	margin: 1rem;
	background: white;
	
	h2 {
	  color: $color-red-1;
	  margin: 0.5rem 0;
	}
  }
}


#finished-projects {
  border-color: $color-blue-1;
  
  header {
	background: $color-blue-1;
  }
  
  li {
	h2 {
	  color: $color-blue-1;
	}
	
	h3 {
	  color: $color-grey-1;
	  font-size: 1rem;
	}
	
	p {
	  margin: 0;
	}
  }
  
  .droppable {
	background: $color-white-3;
  }
}


.droppable {
  background: $color-white-4;
}


#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $color-red-1;
  background: $color-white-5;
}